/* can download and save in folder... connect this way, not have to link into each html file.
@font-face {*/
/*    font-family: 'Ubuntu';*/
/*    src: url(../fonts/name of file);*/
/*}*/

/*for using a direct link use @import. From saved font use @font-face*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'roboto', 'Ubuntu', sans-serif;
    background-color: aliceblue;
    /*font-size: 16px; default font size is 16px*/
    /*background-image: url(../img/bordercollie.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: right;*/
}

h1 {
    text-align: center;
    color: darkblue;
    font-size: 2.5em; /*same as 250%*/
}

h2, h3 {
    color: #FD7924;
}

aside, em {
    font-family: serif;
}

h1, .bottom-border{
    border-bottom: 1px solid black;
}

ul{
    list-style: square;
}

ol{
    list-style: lower-roman;
}

q{
    font-weight: bold;
    /*text-decoration: underline;*/
}

/*descendant selector all p's within section. if section with p's, or something else nested within the section: section>p = direct descendant, would not include the p's in the nested section*/
/*section p {*/
/*    background-color: bisque;*/
/*}*/

a:link{
    color: green;
}

a:visited {
    color: orange;
}

a:hover{
    color: turquoise;
}

/*p::first-letter{*/
/*    font-size: 2.5em;*/
/*}*/


/*.bottom-border:first-of-type{*/
/*    border-bottom-width: 2px;*/
/*}*/

/*not use id often, use classes. Can only have one element with one id - very specific
#main-branding{
    font-size: 1.1em;
}*/