.collapse p {
    padding-top: 1em;
}

.bg-pizza {
    background-image: url("../img/pizza.png");
    background-size: cover;
}

.display-4 {
    /*background-color: rgba(0, 0, 0, 0.2);*/
    opacity: 65%;
}


.jumbotron {
    text-align: center;
}

.badge {
    margin-right: 5px;
}

.option {
    width: 100% !important;
}